<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test node configuratio</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <head class="head">
                <h1 class="head__title">
                    Evaluite articles demo
                </h1>
                <p class="head__text">
                    Just put hier link and get sencative feedback
                </p>
            </head>
            <main class="main">
                <form action="/test" method="get" class="main__form">
                    <label for="link"></label>
                    <p class="main__error"></p>
                    <input type="text" id="link" placeholder="Paste hier you link">
                    <button type="submit" class="main__btn btn">Evaluite</button>
                </form>
            </main>
        </div>
    </div>
</body>
</html>